{% extends "layout.html" %}

{% block content %}
<main class="d-flex min-vh-100 flex-column bg-light">
    {% include "header.html" %}
    <div class="py-4 container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h1 class="display-6 font-weight-light text-dark">
            Welcome, <span class="text-nowrap">{{ current_user.name }}</span>
        </h1>
    </div>
    <section class="mb-4 container bg-white rounded">
        <h3 class="mx-3 my-4 h3 font-weight-normal d-flex align-items-center justify-content-between">
            <span>Attendance List</span>
            <a class="btn" href="{{ url_for('create') }}">
                <svg width="24" style="vertical-align: middle;" stroke="currentColor" stroke-width="2" fill="none"
                    stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M12 5v14M5 12h14" />
                </svg>
            </a>
        </h3>
        <ul class="mb-4 list-group list-group-flush">
            {% if not attendance %}
            <li class="list-group-item lead text-muted">
                No results
            </li>
            {% endif %}
            {% for t in attendance %}
            <li class="list-group-item d-flex justify-content-start align-items-center">
                <div id="qrcodeModal-{{t.id}}" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{{ t.created_at.strftime('%d %B, %Y %I:%M %p') }}</h5>
                                <button type="button" class="btn-close" data-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img class="img-fluid d-block mx-auto"
                                    src="{{ qrcode('http://localhost:8080' + url_for('take_attendance', id=t.id)) }}"
                                    alt="{{ url_for('take_attendance', id=t.id) }}" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="text-truncate">{{ t.created_at.strftime('%d %B, %Y %I:%M %p') }}</span>
                <button class="ml-auto btn text-info" data-toggle="modal" data-target="#qrcodeModal-{{t.id}}">
                    <svg width="24" style="vertical-align: middle;" stroke="currentColor" stroke-width="2" fill="none"
                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                        <circle cx="12" cy="12" r="3" />
                    </svg>
                </button>
                <a class="btn text-success" href="{{ url_for('attendance_download', id=t.id) }}">
                    <svg width="24" style="vertical-align: middle;" stroke="currentColor" stroke-width="2" fill="none"
                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                        <path d="M21 15v4a2 2 0 01-2 2H5a2 2 0 01-2-2v-4M7 10l5 5 5-5M12 15V3" />
                    </svg>
                </a>
                <a class="btn text-danger" href="{{ url_for('attendance_delete', id=t.id) }}">
                    <svg width="24" style="vertical-align: middle;" stroke="currentColor" stroke-width="2" fill="none"
                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                        <path
                            d="M3 6h18M19 6v14a2 2 0 01-2 2H7a2 2 0 01-2-2V6m3 0V4a2 2 0 012-2h4a2 2 0 012 2v2M10 11v6M14 11v6" />
                    </svg>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="container bg-white rounded">
        <h3 class="mx-3 my-4 h3 font-weight-normal">
            Attendance History
        </h3>
        <ul class="mb-4 list-group list-group-flush">
            {% if not history %}
            <li class="list-group-item lead text-muted">
                No results
            </li>
            {% endif %}
            {% for t in history %}
            <li class="list-group-item d-flex justify-content-start align-items-center">
                <span class="text-truncate">{{ t.created_at.strftime('%d %B, %Y %I:%M %p') }}</span>
                <button class="ml-auto btn text-info" data-toggle="modal" data-target="#qrcodeModal-{{t.id}}">
                    <svg width="24" style="vertical-align: middle;" stroke="currentColor" stroke-width="2" fill="none"
                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                        <circle cx="12" cy="12" r="3" />
                    </svg>
                </button>
                <a class="btn text-success" href="{{ url_for('attendance_download', id=t.id) }}">
                    <svg width="24" style="vertical-align: middle;" stroke="currentColor" stroke-width="2" fill="none"
                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                        <path d="M21 15v4a2 2 0 01-2 2H5a2 2 0 01-2-2v-4M7 10l5 5 5-5M12 15V3" />
                    </svg>
                </a>
                <a class="btn text-danger" href="{{ url_for('attendance_delete', id=t.id) }}">
                    <svg width="24" style="vertical-align: middle;" stroke="currentColor" stroke-width="2" fill="none"
                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                        <path
                            d="M3 6h18M19 6v14a2 2 0 01-2 2H7a2 2 0 01-2-2V6m3 0V4a2 2 0 012-2h4a2 2 0 012 2v2M10 11v6M14 11v6" />
                    </svg>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
</main>
{% if setup_face %}
{% include "setup_face.html" %}
{% endif %}
{% endblock content %}