{% extends "layout.html" %}

{% block content %}
<main class="d-flex min-vh-100 flex-column bg-light">
    {% include "header.html" %}
    <form method="POST" autocomplete="off" class="mt-5 w-100 mx-auto p-3 p-md-5" style="max-width: 420px;">
        <h1 class="mb-5 display-6 font-weight-light text-center">Login</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="mb-3">
            <input type="text" name="username" class="form-control" placeholder="Username" />
        </div>
        <div class="mb-3">
            <input type="password" name="password" class="form-control" placeholder="Password" />
        </div>
        <div class="mb-3">
            <label for="remember">
                <input type="checkbox" id="remember" name="remember" class="form-check-input" />
                Remember me
            </label>
        </div>
        <div class="mb-3">
            <button class="btn btn-dark btn-block" type="submit">Submit</button>
            <a class="btn btn-link pl-0" href="/signup">Don’t have an account?</a>
        </div>
        <a class="btn btn-outline-dark btn-block mb-3" href="{{ url_for('github.login') }}">Continue with GitHub</a>
        <a class="btn btn-outline-dark btn-block mb-3" href="{{ url_for('google.login') }}">Continue with Google</a>
    </form>
</main>
{% endblock content %}