<div class="modal fade" id="faceRecognitionModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Setup face recognition</h5>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">
                    Please capture an image with your face in an adequately illuminated environment
                </div>
                <div class="mb-3">
                    <label for="videoSelect" class="form-label">Select camera</label>
                    <select id="videoSelect" class="form-select" aria-label="Select camera">
                        <option>None</option>
                    </select>
                </div>
                <div class="mb-3">
                    <video autoplay class="img-fluid w-100 rounded mx-auto d-block"></video>
                </div>
            </div>
            <div class="modal-footer">
                <button id="submit" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<form id="setupFaceForm" action="/setup-face" method="POST" style="display: none;">
</form>

<script>
    var faceRecognitionModal = new bootstrap.Modal(
        document.getElementById('faceRecognitionModal'),
        {
            backdrop: 'static',
            keyboard: false
        }
    ).show()
</script>

<script>
    var videoElement = document.querySelector('video');
    var videoSelect = document.querySelector('select#videoSelect')
    var submitButton = document.querySelector('button#submit')
    var canvas = document.createElement('canvas');

    videoSelect.onchange = getStream;
    submitButton.onclick = onSubmit;

    navigator.mediaDevices.enumerateDevices()
        .then(gotDevices).then(getStream).catch(handleError);

    function gotDevices(deviceInfos) {
        for (let i = 0; i !== deviceInfos.length; ++i) {
            const deviceInfo = deviceInfos[i];
            const option = document.createElement('option');
            option.value = deviceInfo.deviceId;
            if (deviceInfo.kind === 'videoinput') {
                option.text = deviceInfo.label || 'camera ' +
                    (videoSelect.length + 1);
                videoSelect.appendChild(option);
            } else {
                console.log('Found another kind of device: ', deviceInfo);
            }
        }
    }

    function getStream() {
        if (window.stream) {
            window.stream.getTracks().forEach(track => {
                track.stop();
            });
        }
        const videoSource = videoSelect.value;
        if (videoSource == "None") {
            submitButton.disabled = true;
            return;
        }
        else {
            submitButton.disabled = false;
            const constraints = {
                video: { deviceId: videoSource ? { exact: videoSource } : undefined }
            };
            return navigator.mediaDevices.getUserMedia(constraints).
                then(gotStream).catch(handleError);
        }
    }

    function gotStream(stream) {
        window.stream = stream; // make stream available to console
        videoSelect.selectedIndex = [...videoSelect.options].
            findIndex(option => option.text === stream.getVideoTracks()[0].label);
        videoElement.srcObject = stream;
    }

    function handleError(error) {
        console.error('Error: ', error);
    }

    function dataURItoBlob(dataURI) {
        // convert base64/URLEncoded data component to raw binary data held in a string
        var byteString;
        if (dataURI.split(',')[0].indexOf('base64') >= 0)
            byteString = atob(dataURI.split(',')[1]);
        else
            byteString = unescape(dataURI.split(',')[1]);

        // separate out the mime component
        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

        // write the bytes of the string to a typed array
        var ia = new Uint8Array(byteString.length);
        for (var i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }

        return new Blob([ia], { type: mimeString });
    }


    function onSubmit() {
        if (window.stream) {
            submitButton.disabled = true
            window.stream.getTracks().forEach(track => {
                track.stop();
            });
        }
        canvas.width = videoElement.videoWidth;
        canvas.height = videoElement.videoHeight;
        canvas.getContext('2d').drawImage(videoElement, 0, 0);
        var image = canvas.toDataURL('image/png');

        var blob = dataURItoBlob(image)

        var formData = new FormData();
        formData.append("image", blob);

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/setup-face", false);
        xhr.send(formData);

        window.location.reload()
    }

</script>